:root {
  height: 100%;
  background-color: #3aafa9;
  color: #feffff;
}

body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

header {
  text-align: center;
  font-size: 18px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
  margin: 0;
  height: 37px;
}
